/*## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500;700&family=Poppins:wght@200;300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500;700&family=Poppins:wght@200;300;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 1.5rem;
    min-height: 100vh;
    grid-template-columns: auto auto;
}
picture{
    max-width: 100%;
    border-radius: 0 0 1rem 1rem;
    min-height: 100vh;
}
h2{
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
h1{
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
}
p{
    color: hsl(158, 36%, 37%);
    line-height: 1.8;
    margin-bottom: 2rem;
}
ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 2rem;
}
.price1{
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
    font-size: 2rem;
    margin-right: 1.5rem;
}
.price2{
    font-family: Fraunces;
    color: hsl(228, 12%, 48%);
    
}
button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: inherit;
    font-weight: 700;
    padding: 0.625rem;
    width: 100%;
    border: none;
    border-radius: 0.625rem;
}
button:hover{
    background-color: hsl(158, 90%, 49%);
}
li{
    font-family: inherit;
}
attribution a{
    color: (228, 12%, 48%);
}
#content{
    background-color: white;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
}
#text{
    margin-right: 0.5rem;
}


/*

.container{
    max-width: 500px;
}

.container article:first-child{
    border-radius: 1rem 1rem 0 0;
}
.container article:last-child {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1rem;
}
.attribution { 
    font-size: 14px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*/
